In [4]:
'''
    NOTEBOOK FOCADO EM MOSTRAR EXEMPLOS DO RDD, CAMADA MAIS FUNDAMENTAL DO SPARK.
'''

from pyspark.sql import SparkSession

# Cria ou recupera uma sessão Spark
spark = SparkSession.builder.appName("TesteRDD").getOrCreate()

# A partir da sessão Spark, obtemos o SparkContext
sc = spark.sparkContext

In [5]:
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10])
numeros.take(5)

[1, 2, 3, 4, 5]

In [6]:
# numeros.sum()
numeros.min()
#numeros.count()
#numeros.mean()
#numeros.max()

1

In [8]:
# Executando funções com o lambda. No exemlo multiplica todos os números por 2

mapa = numeros.map(lambda mapa: mapa * 2)
mapa.collect() #collecta é semprenecessário no RDD para executar a função

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
# Exemplo de tuplas em RDD

compras = sc.parallelize([(1,100), (2,200), (3,300)])
chaves = compras.keys()
valores = compras.values()
valores.collect()

[100, 200, 300]